* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: #fff;
}

main {
    height: 100vh;
}
form{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.flexCenter {
    display: flex;
    flex: column wrap;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 1.5rem;
}
input {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    height: 3.5rem;
    width: 70%;
    text-align: center;
}

.phoneFormat {
    display: none;
    font-size: 1.5rem;
    text-align: center;
}

.block {
    display: block;
}

.invalid {
    color: red;
}